.header {
  height: 40px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

* {
  transition: all 0.4s ease-in-out;
}


.header-border {
  border-radius: 0.375rem;
  border: 1px solid white;
}

.header-title {
  font-weight: bold;
}

.header-title:active {
  color: #ff43b1;
}

.pointer {
  cursor: pointer;
}

.card-title {
  font-size: 12px;
}

.card-text {
  font-size: 10px;
}

.card-price {
  font-weight: 600;

}

.card {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.sticky-element-40 {
  position: sticky;
  top: 40px;
  /* Adjust this value based on where you want the sticky element to become sticky */
  z-index: 99;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.sticky-element-80 {
  position: sticky;
  top: 50px;
  /* Adjust this value based on where you want the sticky element to become sticky */
  z-index: 99;
}

.sticky-element-90 {
  position: sticky;
  top: 55px;
  /* Adjust this value based on where you want the sticky element to become sticky */
  z-index: 99;
}

.discount-price {
  font-size: 11px;
  color: grey;

}

.label {
  position: absolute;
  right: 0px;
  margin-top: -30px;
  text-align: right;
  user-select: none;
  font-weight: bold;
  color: black;
  padding-right: 5px;
  border-radius: 10px 0px 0px 0px;
}

.label2 {
  position: absolute;
  left: 0px;
  margin-top: -30px;
  text-align: left;
  user-select: none;
  font-weight: bold;
  color: black;
  padding-left: 5px;
  font-size:12px;
  border-radius: 10px 0px 0px 0px;
}

.label.limited {
  background-color: #805AD5;
  color:white;

}

.label.promo {
  background-color: #159b4d;
  color:white;

}

.label2.terlaris {
  background-color: #cfaa04;
  color:rgb(255, 255, 255);
  border-radius: 0px 20px 10px 0px;
}

.img{
  user-drag: none;
  user-select: none;
  touch-action: none;
}


.keranjang{
 
  min-height: 200px;
}